* {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

button {
  min-width: 0px;
  padding: 0px;
  border: 0px;
}

.bar {
  background-color: #101010;
}

.wm {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  margin: 2px 3px 2px 3px;
}

.wm-title {
  color: #eee;
  background-color: #282828;
  padding: 0px 5px 0px 5px;
}

.wm-cw-icon {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #606060;
}

.ws {
  color: #999;
  font-size: 12px;
  padding: 0 8px 0 8px;
  background-color: #303030;
}

.wss {
  background-color: #404040;
  border-radius: 5px;
  border: 1px #606060 solid;
  margin: 3px 0 3px;
}

.ws-focus {
  color: #fff;
  background-color: #505050;
}

.block {
  background-color: #303030;
  color: #ddd;
  border: 1px solid #686868;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  margin: 3px 1px 5px 1px;
}

.netspeed-label {
  font-size: 8px;
  min-width: 40px;
}

.time-chinese {
  font-size: 12px;
  padding: 0 2px 0 2px;
  margin: 3px 3px 3px 3px;
}

.time-date {
  font-size: 12px;
  min-width: 60px;
}

.battery-label {
  padding-left: 5px;
}

.chart-border {
  margin: 2px 1px 2px 2px;
}

.dborder {
  border: 1px #aa0000 solid;
}

.botton-icon {
  margin-right: 5px;
}

.lucide {
  font-family: lucide;
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}
