* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.bar {
    background-color: #101010;
}

.wm {
    background-color: #383838;
    color: #eaeaea;
    border-radius: 8px;
    margin: 3px 3px 3px 3px;
}

.wm-title {
    color: #ffffff;
    background-color: #383838;
    padding: 0px 10px 0px 5px;
    border: none;
}

.wss {
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
}

.ws {
    background-color: #606060;
    color: #ffffff;
    border-color: #101010;
    padding: 0px 6px 0px 6px;
    margin-right: 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.ws-focus {
    background-color: #aa0000;
    border-width: 1px;
    color: #ffffff;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

.block {
    color: #eaeaea;
    background-color: #101010;
    border: solid 1px #606060;
}

.netspeed-label {
    font-size: 12px;
    color: #fff;
    min-width: 65px;
}

.time-chinese {
    font-size: 10px;
    padding: 0 2 0 2;
    margin: 3 3 3 3;
    background-color: #aa0000;
    color: #ffffff;
}

.time-date {
    font-size: 12px;
    min-width: 60px;
}

.battery-label {
    padding-left: 5px;
}

.chart-border {
    border: 1px #606060 solid;
    margin: 5px 1px 5px 5px;
    /*padding: 1px 3px 1px 3px;*/
    border-radius: 3px;
}

.dborder {
    border: 1px #aa0000 solid;
}

.botton-icon {
    margin-right: 5px;
}