.bar {
    background-color: #101010;
}

.wm {
    background-color: #383838;
    color: #eaeaea;
    border-radius: 5px;
    margin: 3px;
}

.wm-title {
    color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
}

.wss {
    padding: 1 1 1 1;
    border-radius: 5px;
}

.ws {
    background-color: #606060;
    color: #ffffff;
    border-color: #101010;
    margin: 1;
    border-radius: 5px;
}


.ws-focus {
    background-color: #aa0000;
    border-width: 1px;
    color: #ffffff;
}

.block {
    color: #eaeaea;
    background-color: #101010;
    border: none;
    margin: 3px;
}
