* {
    font-family: "Comfortaa", 'Jost*', sans-serif;
    font-weight: normal;
    font-size: 13px;
}

button {}

.bar {
    background-color: #101010;
}

.wm {
    background-color: #383838;
    color: #eaeaea;
    border-radius: 8px;
    margin: 3px 3px 3px 3px;
}

.wm-title {
    color: #ffffff;
    background-color: #383838;
    padding: 0px 10px 0px 5px;
    border: none;
}

.wss {
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
}

.ws {
    background-color: #606060;
    color: #ffffff;
    border-color: #101010;
    margin-right: 2px;
    border-radius: 8px;
}


.ws-focus {
    background-color: #aa0000;
    border-width: 1px;
    color: #ffffff;
}

.block {
    color: #eaeaea;
    background-color: #101010;
    border: none;
    margin: 3px;
}
